.recommendation-container{
    display: flex;
    justify-content: center; 
    align-items: center;  
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #524438;
}

.recommendation-info{
    width: 500px;
    height: 630px;
    border-radius: 25px;
    margin: 150px;
}

.recommendation-info img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 10px;
}

.recommendation-info h2 {
    margin-top: 50px;
    color: #524438;
}


.save-button {
    background-color: #9CCED9;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    border: 5px solid #9CCED9;
}

.save-button:hover {
    background-color: #78b6c4;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.close2-button {
  background-color: none;
  border: 5px solid #9CCED9;
  color: #9CCED9;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 40px;
  width: 120px;

}

.close2-button:hover {
    background-color: #dfdfdf;
    color: #9CCED9;
    transition: all 0.3s ease-in-out;
}