.calendar-header{
    background-color: #D4C9BD;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;   
    justify-content: flex-end;   
    color: #524438; 
}

.calendar-header button {
    margin-top: 0;
    margin-right: 20px;
    background-color: #957F68;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    padding: 0;
}

.calendar-header button:hover {
    color: #957F68;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}