.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.main-page {
  flex: 1;
}

body {
  background-color: #FEFBF3; 
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}