.cassette-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 100px;

}

.cassettebox-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;   
    flex-direction: column;
    text-align: center;
}

.cassettebox-container h1{
    color: #AA98BB; 
    font-weight: 800;
    font-size: 40px;
    margin-top: 50px
};




