.mood-header {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    position: relative;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-top: 30px;
    padding: 10px;
}

.song-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.song-modal-content {
    padding: 0;
    border-radius: 15px;
    width: 450px;
    height: 720px;
    background-color: #FEFBF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #524438;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    
}

.song-close-button{
    background-color:  #957F68;
    color: white;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-close-button:hover {
    background-color: #70604e;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.song-modal-content p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 200px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    
}

.song-modal-content h2 {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.song-modal-content h3 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.song-modal-header{
    background-color: #D4C9BD;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}